.shared-posts-container {
    margin: 20px auto;
    max-width: 800px;
}

.posts-container {
    margin-top: 20px;
}

.post {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-picture-min {
    width: 50px;
    height: 50px !important;
    border-radius: 100%;
    border: 3px solid #ddd;
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.post-reactions {
    margin-top: 10px;
}

.middle-panel {
    min-width: 900px;
}