{% load static %}

{% block content %}
<div class="friendship-container">
    <h1>Profil d'{{ profile.user.get_full_name }}</h1>
    
    {% if friendship %}
        {% if friendship.status == 'pending' %}
            <p>Vous avez déjà envoyé une demande d'amitié. Statut : En attente.</p>
        {% elif friendship.status == 'accepted' %}
            <p>Vous êtes amis avec {{ profile.user.get_full_name }}.</p>
        {% elif friendship.status == 'rejected' %}
            <p>Votre demande d'amitié a été refusée.</p>
        {% endif %}
    {% else %}
        <form method="POST" action="{% url 'send_friend_request' pk=profile.user.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Ajouter en ami</button>
        </form>
    {% endif %}
</div>


{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/friendship.css' %}">
{% endblock %}
