{% load static %}

{% block content %}
<div class="friendship-container">
    
    {% if friendship %}
        {% if friendship.status == 'pending' %}
            <p>Vous avez déjà envoyé une demande d'amitié. Statut : En attente.</p>
        {% elif friendship.status == 'accepted' %}
        {% include 'profil_friendship.html' with friendship=friendship profile=profile %}
        {% elif friendship.status == 'rejected' %}
            <p>Votre demande d'amitié a été refusée.</p>
        {% endif %}
    {% else %}
        <form method="POST" action="{% url 'send_friend_request' pk=profile.user.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Ajouter en ami</button>
        </form>
    {% endif %}
</div>


{% endblock %}
