{% load static %}

{% block content %}
<div class="friendship-container">
    <form method="POST" action="{% url 'remove_friend' pk=profile.user.pk %}" class="remove-friend-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-remove">Retirer de la liste d'amis</button>
    </form>
</div>

<div class="profile-container">
    <div class="profile-header">
        <div class="profile-img-container-big">
            {% if profile.profile_picture %}
                <a href="{% url 'edit_profile' %}">
                    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture-big">
                </a>
            {% else %}
                <a href="{% url 'edit_profile' %}">
                    <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" alt="Default Profile Picture" class="profile-picture-big">
                </a>
            {% endif %}
        </div>
        <div class="profile-info">
            <h2>{{ profile.user.get_full_name }}</h2>
            {% if profile.bio %}
                <p class="profile-bio">{{ profile.bio }}</p>
            {% else %}
                <p class="profile-bio">Ajouter votre bio</p>
            {% endif %}
        </div>
    </div>
    
    {% include 'post_list.html' %}
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/friendship.css' %}">
{% endblock %}
