{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="profile-form-container">
    <h2>Modifier votre profil</h2>
    
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Mettre à jour</button>
    </form>

    <form method="post" action="{% url 'delete_profile' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')">
        Supprimer mon profil
      </button>
  </form>
  
  </div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock %}